.content{
    margin-left: 25%;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.main-home{
    width: 700px;
    margin: 209px 0px 0px 209px;
}
.hi{
    margin-bottom :-18px;
    font-size: 25px;
}
.iam
{
    font-size: 44px;
    font-weight: 800;
}
.iam span{
    color: yellow;

}
.home-para {
    font-size: 20px;
}
.btn{
    width: 200px;
    border-radius: 33px;
    padding: 15px;
    background-color: #2b2727;
    border: none;
    font-size: 24px;
    margin-bottom: 23px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: yellow;
    color: black;
}

/* About page css */
.content-about {
    /* background-color: red; */
        margin-left: 25%;
    
}
.main-about-box{
    background-color: red;
    width: 500px ;
}

.about-head{
    /* background-color: yellow; */
    /* color: black; */
    width: 1140px;
    display: flex;
}
.about-head span {
    color: yellow;
}
.about-head h3{
   margin-left: 45%;
   /* background-color: yellow; */
   color: white;
   padding: 10px;
   font-size: 35px;
}
.about-name{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 10px;
}
.about-name span{
color: yellow;
}
.about-age{
    font-size: 25px;
    margin-bottom: 10px;

}
.about-age span{
color: yellow;

}
.about-Qualification{
    font-size: 25px;
    margin-bottom: 10px;

}
.about-Qualification span{
color: yellow;
}
.about-post{
    font-size: 25px;
    margin-bottom: 10px;

}
.about-post span{
color: yellow;
}
.about-language{
    font-size: 25px;
    margin-bottom: 30px;
}
.about-language span{
color: yellow;
}
.btn-download{
    background-color: #2b2727;
    width: 170px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.btn-download img{
width: 20px;
}
.about-boxe1
{
    margin-top: 20px;
}
.box1{
    width: 200px;
    padding-bottom: 150px;
    background-color: grey;
   
}
.box2{
    width: 200px;
    padding-bottom: 150px;
    background-color: grey;
    margin-left: 40px;
}
.about-boxe2
{
    margin-top: 20px;
}
.box3{
    width: 200px;
    padding-bottom: 150px;
    background-color: grey;
}
.box4{
    width: 200px;
    padding-bottom: 150px;
    background-color: grey;
    margin-left: 40px;
}